@use '@/assets/styles/abstracts' as *;

.search-bar {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
  width: calc(100% - 4rem);
  height: 4rem;
  pointer-events: none;

  &--open {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }

  &__input {
    border: none;
    border-radius: 0.4rem;
    background: color-opacity(white, 0.08);
    padding-left: 4rem;
    width: 100%;
    height: 100%;
    color: $layout-foreground;
    font-weight: 400;
    font-size: 1.4rem;

    &::placeholder {
      color: $layout-foreground;
      font-weight: 400;
      font-size: 1.4rem;
    }
  }

  &__button {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);

    & svg {
      font-weight: 500;
      font-size: 1.6rem;
    }
  }
}
