.loader__spinner {
  aspect-ratio: 1;
  width: 45px;
  --c: no-repeat linear-gradient(#5b5d68 0 0);
  transform: scale(0.9);
  animation: l1 1s linear infinite;
  border-radius: 50%;
  background:
    var(--c) 0 50%,
    var(--c) 50% 50%,
    var(--c) 100% 50%;
  background-size: 20% 100%;
}

@keyframes l1 {
  0% {
    background-size:
      20% 100%,
      20% 100%,
      20% 100%;
  }
  33% {
    background-size:
      20% 10%,
      20% 100%,
      20% 100%;
  }
  50% {
    background-size:
      20% 100%,
      20% 10%,
      20% 100%;
  }
  66% {
    background-size:
      20% 100%,
      20% 100%,
      20% 10%;
  }
  100% {
    background-size:
      20% 100%,
      20% 100%,
      20% 100%;
  }
}
