@use '@/assets/styles/abstracts' as *;

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 0.3rem;
  background: transparent;
  padding: 0.2rem 0.5rem;
  width: fit-content;
  font-weight: 400;
  font-size: 1rem;

  @include breakpoint(sm) {
    font-size: 1.1rem;
  }

  @include breakpoint(md) {
    font-size: 1.3rem;
  }

  @include breakpoint(lg) {
    font-size: 1.4rem;
  }

  @include breakpoint(xl) {
    font-size: 1.5rem;
  }

  @include breakpoint(xxl) {
    font-size: 1.6rem;
  }
}
