@use '@/assets/styles/abstracts' as *;

.not-found-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &__logo {
    width: 70%;
    max-width: 40rem;
    height: auto;
  }

  &__title {
    margin-bottom: 0rem;
    width: 90%;
    max-width: 60rem;
    font-weight: 600;
    font-size: 1.8rem;
    text-align: center;

    @include breakpoint(sm) {
      font-size: 2.2rem;
    }
    @include breakpoint(md) {
      font-size: 2.5rem;
    }
    @include breakpoint(lg) {
      font-size: 2.8rem;
    }
    @include breakpoint(xl) {
      font-size: 3.2rem;
    }
    @include breakpoint(xxl) {
      font-size: 3.5rem;
    }
  }

  &__description {
    margin-bottom: 2rem;
    width: 90%;
    max-width: 60rem;
    color: #666;
    font-size: 1.4rem;
    text-align: center;

    @include breakpoint(sm) {
      font-size: 1.6rem;
    }
    @include breakpoint(md) {
      font-size: 1.8rem;
    }
    @include breakpoint(lg) {
      font-size: 2rem;
    }
    @include breakpoint(xl) {
      font-size: 2.2rem;
    }
    @include breakpoint(xxl) {
      font-size: 2.4rem;
    }
  }

  &__button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition:
      transform 0.2s ease,
      box-shadow 0.2s ease;
    border-radius: 0.5rem;
    background: $gradient-background;
    padding: 1.2rem 2.4rem;
    color: $gradient-foreground;
    font-weight: 600;
    font-size: 1.6rem;
    text-decoration: none;

    &:active {
      transform: translateY(0);
    }

    @include breakpoint(sm) {
      padding: 1.4rem 2.8rem;
      font-size: 1.8rem;
    }

    @include breakpoint(md) {
      padding: 1.6rem 3.2rem;
      font-size: 2rem;
    }
  }
}
