@use '@/assets/styles/abstracts' as *;

.search-bar {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
  width: calc(100% - 5rem);
  height: 4rem;
  pointer-events: none;

  @include breakpoint('xl') {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    visibility: visible;
    opacity: 1;
    margin-left: 3rem;
    width: 35%;
    max-width: 32rem;
    height: 4.2rem;
    pointer-events: auto;

    @include breakpoint(xxl) {
      max-width: 35rem;
    }
  }

  &--open {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }

  &__input {
    border: none;
    border-radius: 0.6rem;
    background: color-opacity(white, 0.1);
    padding-right: 1rem;
    padding-left: 4rem;
    width: 100%;
    height: 100%;
    color: $layout-foreground;
    font-weight: 400;
    font-size: 1.4rem;

    &:focus-visible {
      outline: none;
      border: none;
    }

    &::placeholder {
      color: $layout-foreground;
      font-weight: 400;
      font-size: 1.4rem;
    }
  }

  &__button {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);

    & svg {
      font-weight: 500;
      font-size: 1.6rem;
    }
  }
}
