@use '@/assets/styles/abstracts' as *;

.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeInUp 1s ease-in-out;
    width: 100%;
  }

  &__logo {
    width: 70%;
    max-width: 40rem;
    height: auto;
  }

  &__title {
    width: 90%;
    max-width: 60rem;
    color: #aaa;
    font-weight: 600;
    font-size: 1.8rem;
    text-align: center;

    @include breakpoint(sm) {
      font-size: 2.2rem;
    }
    @include breakpoint(md) {
      font-size: 2.5rem;
    }
    @include breakpoint(lg) {
      font-size: 2.8rem;
    }
    @include breakpoint(xl) {
      font-size: 3.2rem;
    }
    @include breakpoint(xxl) {
      font-size: 3.5rem;
    }
  }
}

@keyframes fadeInUp {
  0% {
    transform: scale(1.3);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
