@use '@/assets/styles/abstracts' as *;

.topic-section {
  margin-top: 1.4rem;
  padding: 0 1rem;

  @include breakpoint(md) {
    padding: 0 2rem;
  }
  &__title {
    font-weight: 600;
    font-size: 2rem;

    @include breakpoint(md) {
      font-size: 2.4rem;
    }

    @include breakpoint(xl) {
      font-size: 2.8rem;
    }
  }
  &__list {
    display: flex;
    flex-wrap: nowrap;
    gap: 1.6rem;
    margin-top: 1rem;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }

    @include breakpoint(sm) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.8rem;
    }
    @include breakpoint(md) {
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;
    }

    @include breakpoint(lg) {
      grid-template-columns: repeat(5, 1fr);
      gap: 2.2rem;
    }

    @include breakpoint(xl) {
      grid-template-columns: repeat(6, 1fr);
      gap: 2.4rem;
    }

    @include breakpoint(xxl) {
      grid-template-columns: repeat(7, 1fr);
      gap: 2.4rem;
    }
  }
}
