@use '@/assets/styles/abstracts' as *;

.search-toggle {
  margin-left: auto;

  &__button {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
    width: 4rem;
    height: 4rem;

    @include breakpoint(xl) {
      display: none;
    }

    &::before {
      position: absolute;
      right: 1rem;
      bottom: 1.4rem;
      transform: rotate(45deg);
      transition:
        width 0.3s ease,
        bottom 0.3s ease,
        background-color 0.3s ease;
      background-color: $layout-foreground;
      width: 1rem;
      height: 0.2rem;
      content: '';
    }

    &::after {
      position: absolute;
      top: 1.9rem;
      right: 1rem;
      transform: rotate(-45deg);
      transition:
        width 0.3s ease,
        background-color 0.3s ease;
      background-color: $danger;
      width: 0;
      height: 0.2rem;
      content: '';
    }

    &--active {
      &::before,
      &::after {
        background-color: $danger;
        width: 2rem;
      }

      &::before {
        bottom: 1.9rem;
      }

      .search-toggle__lens {
        border-color: transparent;
        width: 0;
        height: 0;
      }
    }
  }

  &__lens {
    transition:
      width 0.3s ease,
      height 0.3s ease,
      border-color 0.3s ease;
    border: 0.2rem solid $layout-foreground;
    border-radius: 50%;
    background-color: transparent;
    width: 1.4rem;
    height: 1.4rem;
  }
}
