@use '@/assets/styles/abstracts' as *;

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 102;
  border-radius: 1rem;
  background-color: color-opacity(black, 0.85);
  padding: 1rem;
  width: auto;
  max-height: 60vh;
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior: contain;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  &--country {
    right: 0;
    left: auto;

    @include breakpoint(sm) {
      right: auto;
      left: 0;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;

    @media (min-width: 450px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include breakpoint(md) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__item {
    a {
      display: block;
      border-radius: 0.5rem;
      padding: 1.2rem 0.8rem;
      font-weight: 500;
      font-size: 1.3rem;
      text-wrap: nowrap;
      &:hover {
        background-color: color-opacity(white, 0.04);
        color: $primary-foreground;
      }
    }
  }
}
