@use '@/assets/styles/abstracts' as *;

.navigation {
  display: flex;
  position: absolute;
  top: 100%;
  left: 0;
  flex-direction: column;
  gap: 2rem;
  z-index: 101;
  border-radius: 1.2rem;
  background-color: $nav-menu-background;
  padding: 2rem;
  width: 100%;
  max-width: 36rem;

  &__user {
    & a {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      border-radius: 2rem;
      background-color: $nav-menu-foreground;
      padding: 1rem 0;
      color: black;
      font-weight: 500;
      font-size: 1.4rem;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: $nav-menu-foreground;
    font-weight: 500;
    font-size: 1.4rem;
  }

  &__item {
    & > a,
    & > span {
      display: block;
      padding: 1rem 0;
    }
    & span {
      cursor: pointer;
    }

    &--dropdown {
      position: relative;
      user-select: none;
    }
  }
}
