@use '@/assets/styles/abstracts' as *;

.nfs {
  padding: 0 1rem;
  @include breakpoint(md) {
    padding: 0 2rem;
  }

  @include breakpoint(xl) {
    padding: 0 4rem;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint(sm) {
      justify-content: flex-start;
      gap: 2rem;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    transition:
      width 0.3s ease,
      border-color 0.3s ease,
      color 0.3s ease;
    border: 1px solid #9b9999;
    border-radius: 999px;
    padding: 1rem;
    width: 3.4rem;
    height: 3.4rem;
    text-wrap: nowrap;

    &:hover {
      @include breakpoint(sm) {
        border-color: $primary-foreground;
        width: 11rem;
        color: $primary-foreground;
        & .nfs__link-text {
          width: auto;
        }
      }
    }

    &-text {
      display: none;

      @include breakpoint(sm) {
        display: inline;
        width: 0;
        overflow: hidden;
        font-size: 1.4rem;
        line-height: 1;
      }
    }
  }
}
