@use '@/assets/styles/abstracts' as *;

.nav-toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.4rem;
  padding: 1rem;
  width: 4rem;
  height: 4rem;

  &__line {
    transition:
      background-color 0.3s ease-in-out,
      transform 0.3s ease-in-out,
      opacity 0.2s ease-in-out;
    background-color: $layout-foreground;
    width: 100%;
    height: 0.2rem;

    &:nth-child(2) {
      width: 70%;
    }
  }

  &--close {
    .nav-toggle__line {
      background-color: $danger;

      &:nth-child(1) {
        transform: rotate(45deg) translate(0.4rem, 0.45rem);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translate(0.4rem, -0.45rem);
      }
    }
  }
}
