@use '@/assets/styles/abstracts' as *;

.slider {
  &__content {
    position: absolute;
    bottom: 6rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    padding: 0 1rem;
    width: 100%;

    @include breakpoint(sm) {
      bottom: 7rem;
    }

    @include breakpoint(md) {
      bottom: 9rem;
      padding: 0 2rem;
    }

    @include breakpoint(lg) {
      bottom: 13rem;
    }

    @include breakpoint(xl) {
      bottom: 14rem;
      padding: 0 4rem;
    }

    @include breakpoint(xxl) {
      bottom: 20rem;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 2.1rem;
    text-align: center;
    @include text-truncate(1);
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.4);

    @include breakpoint(sm) {
      font-size: 2.2rem;
    }

    @include breakpoint(md) {
      font-size: 2.8rem;
      text-align: left;
    }

    @include breakpoint(lg) {
      font-size: 3rem;
    }

    @include breakpoint(xl) {
      font-size: 3.2rem;
    }

    @include breakpoint(xxl) {
      font-size: 3.6rem;
    }
  }

  &__subtitle {
    color: $primary-foreground;
    font-weight: 300;
    font-size: 1.3rem;
    text-align: center;
    @include text-truncate(1);

    @include breakpoint(sm) {
      font-size: 1.4rem;
    }

    @include breakpoint(md) {
      font-size: 1.6rem;
      text-align: left;
    }

    @include breakpoint(lg) {
      font-size: 1.8rem;
    }

    @include breakpoint(xl) {
      font-size: 2rem;
    }

    @include breakpoint(xxl) {
      font-size: 2.2rem;
    }
  }
  &__badges {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1.8rem;

    @include breakpoint(sm) {
      margin-top: 2rem;
    }

    @include breakpoint(md) {
      justify-content: flex-start;
      gap: 0.8rem;
      margin-top: 1.6rem;
    }

    @include breakpoint(xl) {
      gap: 1rem;
    }

    @include breakpoint(xxl) {
      gap: 1.2rem;
    }

    &--genres {
      display: none;

      @include breakpoint(md) {
        display: flex;
      }
    }
  }

  &__genre-link {
    display: flex;
    transition: all 0.2s ease;
    text-decoration: none;

    & .slider__badge {
      transition: all 0.2s ease;
      border-color: transparent;
      background-color: color-opacity(#fff, 0.1);
    }

    &:hover .slider__badge {
      background-color: color-opacity(#fff, 0.15);
      color: $primary-foreground;
    }
  }
  &__badge {
    background-color: color-opacity(#fff, 0.05);

    &--imdb {
      display: flex;
      align-items: center;
      gap: 0.2rem;
      border-color: $primary-foreground;

      @include breakpoint(lg) {
        gap: 0.3rem;
      }

      & span:first-child {
        color: $primary-foreground;
        font-size: 0.9rem;
        line-height: 1;

        @include breakpoint(sm) {
          font-size: 1rem;
        }

        @include breakpoint(lg) {
          font-size: 1.1rem;
        }

        @include breakpoint(xl) {
          font-size: 1.2rem;
        }

        @include breakpoint(xxl) {
          font-size: 1.3rem;
        }
      }
    }

    &--quality {
      border-color: $primary-foreground;
      background-image: linear-gradient(220deg, #ffd875, #fff);
      background-color: #ffd875;
      color: #000;
    }
  }
}
