$background: #191b24;
$foreground: #ffffff;
$primary: #191b24;
$primary-foreground: #ffd875;
$secondary: #1e1f29;
$secondary-foreground: #ffffff;
$muted: #191b24;
$muted-foreground: #aaaaaa;
$layout-background: #0f111a;
$layout-foreground: #ffffff;
$danger: #ff6c5d;

$nav-menu-background: #3b4987;
$nav-menu-foreground: #ffffff;

$gradient-background: linear-gradient(
  39deg,
  rgb(254, 207, 89),
  rgb(255, 241, 204)
);
$gradient-foreground: #191b24;
