@use '@/assets/styles/abstracts' as *;

.new-releases-section {
  margin-top: 3rem;

  @include breakpoint(md) {
    padding: 0 2rem;
  }

  @include breakpoint(xl) {
    padding: 0 4rem;
  }
}

.nrs__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-top-right-radius: 1.2rem;
  border-top-left-radius: 1.2rem;
  background: rgb(40, 43, 58);
  background: linear-gradient(
    0deg,
    rgba(40, 43, 58, 0) 20%,
    rgba(40, 43, 58, 1)
  );
  padding: 2rem 1rem;

  @include breakpoint(md) {
    gap: 4rem;
    padding: 3rem 2rem;
  }

  @include breakpoint(xl) {
    padding: 4rem 3rem;
  }
}
