@use '@/assets/styles/abstracts' as *;

.navigation {
  display: flex;
  position: absolute;
  top: 100%;
  left: 0;
  flex-direction: column;
  gap: 2rem;
  visibility: hidden;
  opacity: 0;
  z-index: 101;
  transition:
    opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
  border-radius: 1.2rem;
  background-color: $nav-menu-background;
  padding: 2rem;
  width: 100%;
  max-width: 36rem;
  pointer-events: none;

  &--open {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }

  @include breakpoint('xl') {
    position: static;
    flex: 1;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    visibility: visible;
    opacity: 1;
    margin-left: auto;
    background-color: transparent;
    padding: 0;
    padding-left: 2rem;
    max-width: none;
    pointer-events: auto;
  }

  &__user {
    & a {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      border-radius: 2rem;
      background-color: $nav-menu-foreground;
      padding: 1rem 0;
      color: black;
      font-weight: 500;
      font-size: 1.4rem;
    }

    @include breakpoint('xl') {
      width: 13rem;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: $nav-menu-foreground;
    font-weight: 500;
    font-size: 1.4rem;

    @include breakpoint('xl') {
      display: flex;
    }
  }

  &__item {
    & > a,
    & > span {
      display: block;
      transition: color 0.2s linear;
      padding: 1rem 0;

      &:hover {
        color: $primary-foreground;
      }

      @include breakpoint('xl') {
        padding: 1rem 1.5rem;
      }
    }
    & span {
      cursor: pointer;
    }

    &--dropdown {
      position: relative;
      user-select: none;
    }

    &--selected {
      color: $primary-foreground;
    }
  }
}
